.addition__title {
  width: 250px;
  position: relative;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
  margin-top: 28px;
  margin-bottom: 33px;

  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 99%;
    width: calc(100vw - 100% - 18px);
    height: 2px;
    background-color: $basic_green;
  }

  @media screen and (min-width: $tablet-width) {
    width: 410px;
    font-size: 36px;
    line-height: 36px;
    margin: 67px 0 80px;
    padding-left: 37px;

    &::before {
      content: "";
      position: absolute;
      top: 22px;
      right: 100%;
      width: 100vw;
      height: 2px;
      background-color: $basic_green;
    }

    &::after {
      top: 22px;
      width: calc(100vw - 100% - 34px);
    }
  }

  @media screen and (min-width: $desktop-width) {
    margin-top: 74px;
    padding-left: 0;

    &::before {
      right: 108%;
    }

    &::after {
      left: 91%;
      // width: 954px;
      width: calc(100vw - 100% - 82px);
    }
  }
}

.addition__wrapper {
  @media screen and (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 79px;
    margin-bottom: 86px;
  }
}

.addition__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.addition__promo-block {
  position: relative;
  width: 100%;
  background: $basic_green url("../img/gift-photo-mobile@1x.jpg") center center no-repeat;
  background-size: cover;
  margin: 38px auto 35px;
  padding-top: 58px;
  padding-bottom: 43px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 708px;
    margin: 69px auto 76px;
    padding: 62px 124px 67px 80px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media screen and (min-width: $desktop-width) {
    width: 245px;
    flex-direction: column;
    justify-content: center;
    padding: 60px 10px 40px;
    margin: 0;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.addition__icon-gift {
  display: block;
  fill: $white-color;
  margin: 0 auto;

  @media screen and (min-width: $tablet-width) {
    margin: 0;
    width: 79px;
    height: 64px;
  }
}

.addition__promo-text {
  width: 161px;
  margin: 0 auto;
  padding-top: 56px;
  font-family: "Arial", "Tahoma", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $white-color;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    padding-top: 0;
    margin: 0;
    margin-top: 10px;
    text-align: left;
  }

  @media screen and (min-width: $desktop-width) {
    margin-top: 59px;
    text-align: center;
  }
}
