.button {
  display: block;
  background-color: $basic_green;
  color: $white-color;
  text-transform: uppercase;
  text-align: center;

  @media screen and (max-width: $mobile-width-only) {
    width: 280px;
    padding: 11px;
  }
}
