.button {
  display: block;
  background-color: $basic_green;
  color: $white-color;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: $green_btn-hover;
  }

  &:active, &:focus {
    background-color: $green_btn-hover;
    color: transparentize($white-color, 0.3);
  }

  @media screen and (max-width: $mobile-width-only) {
    width: 280px;
    padding: 11px;
  }
}
