.card-product__item {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
  border-bottom: 1px solid $special_grey-border;

  &:last-child {
    flex-direction: column;
    justify-content: flex-start;
  }

  &:first-child {
    border-top: 1px solid $special_grey-border;
  }

  @media screen and (min-width: $tablet-width) {
    width: 324px;
    border-bottom: none;
    flex-direction: column;
    background-image: linear-gradient($white-color 16%, $basic_grey 16%);
    margin-bottom: 0;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border: 2px solid $basic_grey;
      background-image: none;
      margin-top: 83px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    width: 245px;
  }
}

.card-product__img {
  &--small {
    @media screen and (min-width: $tablet-width) {
      width: 100%;
      height: 172px;
      margin-top: 36px;
      margin-bottom: 32px;
    }

    @media screen and (min-width: $desktop-width) {
      width: 100%;
      margin-top: 29px;
      margin-bottom: 42px;
    }
  }

  &--big {
    @media screen and (min-width: $tablet-width) {
      height: 208px;
      margin-top: 10px;
      margin-bottom: 22px;
    }

    @media screen and (min-width: $desktop-width) {
      height: 208px;
      margin-top: 1px;
      margin-bottom: 34px;
    }
  }
}

.card-product__photo {
  width: 100%;
}

.card-product__block {
  margin-top: 10px;

  @media screen and (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 36px;
  }
}

.card-product__title {
  width: 76px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $text_dark-grey;
  margin: 0;
  margin-bottom: 13px;
  margin-top: -17px;

  @media screen and (min-width: $tablet-width) {
    width: 159px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 19px;
  }
}

.card-product__list {
  width: 140px;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  margin: 0;

  @media screen and (min-width: $tablet-width) {
    width: 251px;
    font-size: 16px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 180px;
    padding-left: 4px;
    padding-right: 9px;
  }
}

.card-product__wrapper {
  @media screen and (min-width: $tablet-width) {
    border-bottom: 1px solid $special_grey;
    padding-bottom: 9px;
    margin-top: 6px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.card-product__descr {
  width: 60%;
  float: left;
}

.card-product__value {
  text-align: right;
}

.card-product__btn {
  display: block;
  width: 280px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: -4px;
  padding: 10px;

  &--more {
    background-color: $basic_grey;
    color: $special_dark-grey;

    &:hover {
      background-color: $special_grey-border;
    }

    &:active,
    &:focus {
      color: transparentize($special_dark-grey, 0.3);
    }
  }

  @media screen and (min-width: $tablet-width) {
    width: 248px;
    margin-bottom: 39px;
    padding: 10px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 168px;
  }
}

.card-product__plus {
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 22px;

  @media screen and (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-top: 52px;
  }
}

.card-product__line {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 0;
  width: 30px;
  border-bottom: 2px solid $grey_color-line;
  transform: rotate(90deg);

  &:nth-child(2) {
    transform: rotate(-180deg);
  }

  @media screen and (min-width: $tablet-width) {
    width: 60px;
  }

  @media screen and (min-width: $desktop-width) {
    top: 47%;
  }
}

.card-product__more {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $text_black;
  margin: 0;
  margin-top: 23px;

  @media screen and (min-width: $tablet-width) {
    width: 175px;
    font-size: 20px;
    line-height: 22px;
    margin-top: 49px;
  }
}

.card-product__text {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  margin: 8px 0 25px;

  @media screen and (min-width: $tablet-width) {
    width: 225px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    margin: 23px 0 87px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 89px;
  }
}
