.card-product {
  display: flex;
  flex-wrap: wrap;
}

.card-product__item {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  &:last-child {
    flex-direction: column;
    justify-content: center;
  }
  margin-bottom: 2px;
  border-bottom: 1px solid $special_grey-border;
  &:first-child {
    border-top: 1px solid $special_grey-border;
  }
}

.card-product__block {
  margin-top: 10px;
}

.card-product__title {
  width: 76px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $text_dark-grey;
  margin: 0;
  margin-bottom: 15px;
}

.card-product__list {
  width: 142px;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
}

.card-product__descr {
  float: left;
}

.card-product__value {
  text-align: right;
}

.card-product__btn {
  margin-bottom: 20px;
  font-size: 16px;
  &--more {
    background-color: $basic_grey;
    color: $special_dark-grey;
  }
}

.card-product__plus {
  width: 30px;
  height: 30px;
  margin-top: 42px;
}

.card-product__line {
  display: block;
  width: 30px;
  border-bottom: 2px solid $grey_color-line;
  transform: rotate(90deg);
  &:nth-child(2) {
    transform: rotate(-180deg);
  }
}

.card-product__link-more {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $text_black;
  margin-top: 10px;
}

.card-product__text {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  margin: 8px 0 21px;
}
