.contact {
  width: 100%;
  margin: 0 auto;

  &--inner {
    background-color: $basic_grey;
  }
}

.contact__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  padding: 28px 0 26px;
  background-color: $white-color;

  &--inner {
    background-color: $basic_grey;
  }

  @media screen and (min-width: $tablet-width) {
    padding: 64px 41px 62px;
    align-items: flex-start;
  }

  @media screen and (min-width: $desktop-width) {
    position: absolute;
    width: 569px;
    padding-left: 76px;
    padding-right: 89px;
    transform: translateY(95px);
    z-index: 10;

    &--inner {
      background-color: $white-color;
    }
  }
}

.contact__info {
  width: 138px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text_black;
  margin: 0;

  @media screen and (min-width: $tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 25px;
  }
}

.contact__address {
  width: 140px;
  font-family: "Arial", "Tahoma", sans-serif;
  line-height: 20px;
  font-style: normal;
  color: $special_dark-grey;

  @media screen and (min-width: $tablet-width) {
    width: 159px;
    font-size: 16px;
    text-align: right;

    span {
      display: block;
      transform: translateY(20px);
    }
  }

  @media screen and (min-width: $desktop-width) {
    text-align: left;
    width: 156px;
  }
}

.contact__map {
  position: relative;
  line-height: 13px;

  &::before {
    content: "";
    position: absolute;
    top: 140px;
    left: 40vw;
    width: 57px;
    height: 53px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;

    @media screen and (min-width: $tablet-width) {
      width: 113px;
      height: 106px;
      top: 146px;
      left: 41vw;
    }

    @media screen and (min-width: $desktop-width) {
      top: 131px;
      left: 61.7vw;
    }
  }
}

.map-iframe {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 362px;

  @media screen and (min-width: $tablet-width) {
    height: 400px;
  }
}

.contact__img-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 362px;

  @media screen and (min-width: $tablet-width) {
    height: 400px;
  }
}
