.copyright__link {
  display: block;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 16px;
  color: $special_dark-grey;

  @media screen and (min-width: $tablet-width) {
    padding-right: 17px;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  fill: $logo__color;

  &:hover {
    fill: $basic_green;
  }

  &:active {
    fill: $basic_green;
    opacity: 0.3;
  }
}
