.copyright__link {
  display: block;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 16px;
  color: $special_dark-grey;
}
.copyright__link-logo {
  width: 27px;
  height: 34px;
}
.copyright__logo path {
  fill: $logo__color;
}

