.footer__main {
  padding-top: 20px;
  padding-bottom: 22px;
  background-color: $basic_grey;

  @media screen and (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 61px;
  }
}

.footer__wrapper {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo-name {
  display: block;
  text-align: center;
  border-bottom: 1px solid $border_color;
  padding: 19px 0 30px;

  @media screen and (min-width: $tablet-width) {
    border-bottom: none;
    padding: 0;
    text-align: left;
  }
}

.footer__social {
  padding: 20px;
  border-bottom: 1px solid $border_color;

  @media screen and (min-width: $tablet-width) {
    border-bottom: none;
    padding: 0;
  }
}

.footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;

  @media screen and (min-width: $tablet-width) {
    padding: 0;
  }
}
