.form-selection__title {
  line-height: 36px;
  margin-bottom: 37px;
  padding-top: 27px;

  @media screen and (min-width: $tablet-width) {
    line-height: 60px;
    margin-bottom: 55px;
    padding-top: 64px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 187px;
  }
}

.form-selection__descr {
  width: 226px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet-width) {
    width: 390px;
    font-size: 20px;
    line-height: 30px;
    margin-left: 40px;
    margin-bottom: 66px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.form-selection__wrapper {
  margin-bottom: 28px;

  @media screen and (min-width: $tablet-width) {
    margin: 0;
    margin-left: 40px;
    margin-bottom: 75px;
    width: 630px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 69px;
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form-selection__group {
  border: none;
  padding: 0;
  margin: 0;

  &--info {
    margin-bottom: 24px;
  }

  &--program {
    width: 320px;
    margin-left: -20px;
    padding: 20px 20px 25px;
    border: 1px solid $grey_form;
  }

  &--contact {
    margin-bottom: 27px;
  }

  &--comment {
    margin-bottom: 25px;
  }

  @media screen and (min-width: $tablet-width) {
    &--info {
      margin-bottom: 73px;
    }

    &--program {
      width: 631px;
      margin-left: 0;
      padding: 25px 28px 29px;
    }

    &--contact {
      margin-bottom: 65px;
    }

    &--comment {
      margin-bottom: 63px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    &--info {
      margin-bottom: 0;
    }

    &--program {
      width: 571px;
    }

    &--contact {
      margin-bottom: 46px;
    }
  }
}

.form-selection__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 32px;

  &--location-contact {
    position: relative;
    width: 73%;
    padding-right: 15px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 15px;
      left: 100%;
      width: calc(100vw - 100% - 20px);
      height: 2px;
      background-color: $basic_green;
    }
  }

  &--location-comment {
    position: relative;
    padding-right: 22px;
    margin-bottom: 35px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 15px;
      left: 100%;
      width: calc(100vw - 100% - 20px);
      height: 2px;
      background-color: $basic_green;
    }
  }

  &--location-option {
    position: relative;
    padding-right: 24px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 15px;
      left: 100%;
      width: calc(100vw - 100% - 20px);
      height: 2px;
      background-color: $basic_green;
    }
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    padding-left: 40px;

    &--location-contact {
      width: auto;
      padding-right: 42px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 22px;
        right: 100%;
        width: 100vw;
        height: 2px;
        background-color: $basic_green;
      }

      &::after {
        top: 22px;
        width: calc(100vw - 100% - 40px);
      }
    }

    &--location-comment {
      padding-right: 38px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 23px;
        right: 100%;
        width: 100vw;
        height: 2px;
        background-color: $basic_green;
      }

      &::after {
        top: 22px;
        width: calc(100vw - 100% - 40px);
      }
    }

    &--location-option {
      padding-right: 41px;
      margin-bottom: 57px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 22px;
        right: 100%;
        width: 100vw;
        height: 2px;
        background-color: $basic_green;
      }

      &::after {
        top: 22px;
        width: calc(100vw - 100% - 40px);
      }
    }
  }

  @media screen and (min-width: $desktop-width) {
    padding-left: 0;

    &--location-contact {
      &::before {
        right: calc(100% + 40px);
      }
    }

    &--location-comment {
      &::before {
        right: calc(100% + 40px);
      }
    }

    &--location-option {
      margin-bottom: 58px;

      &::before {
        right: calc(100% + 40px);
      }
    }
  }
}

.form-selection__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media screen and (min-width: $tablet-width) {
    &--location {
      width: 565px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: 39px;
    }

    &--layout {
      padding-left: 41px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    &--location {
      width: auto;
      margin-left: 0;
    }

    &--layout {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      padding-left: 0;
    }
  }
}

.form-selection__option {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  &--position {
    margin-bottom: 19px;
  }

  &--position-program {
    margin-bottom: 18px;
  }

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 19px;

    &--position {
      width: 221px;
      margin-right: 123px;
      margin-bottom: 36px;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 36px;
      }
    }
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 20px;

    &--position {
      margin-right: 104px;

      &:nth-child(2n) {
        margin-right: 104px;
      }

      &:last-child {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}

.form-selection__label {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  cursor: pointer;

  &--others {
    width: 280px;
  }

  &--radio {
    padding-left: 45px;
    padding-top: 7px;
  }

  &--checkbox {
    padding-left: 46px;
    padding-top: 6px;
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &--others {
      width: 630px;
    }

    &--radio {
      padding-left: 60px;
      padding-top: 4px;
    }

    &--checkbox {
      padding-left: 60px;
      padding-top: 5;
    }
  }

  @media screen and (min-width: $desktop-width) {
    &--others {
      width: 570px;
    }
  }
}

.form-selection__input {
  padding: 13px 15px 12px;
  border: 1px solid $grey_form;
  cursor: pointer;

  &:valid {
    border-color: $grey_form;
    outline: none;
  }

  &::placeholder {
    text-transform: uppercase;
    color: $special_dark-grey;
    font-size: 16px;
    opacity: 1;
  }

  &--name {
    width: 228px;
    margin-left: 10px;
  }

  &--weight {
    width: 203px;
    margin-left: 13px;
  }

  &--age {
    width: 171px;
    margin-left: 12px;
  }

  &--email {
    width: 219px;
    border-color: $special_grey;
    margin-left: 7px;
  }

  &--phone {
    width: 202px;
    border-color: $special_grey;
    margin-left: 7px;
  }

  &:hover {
    border-color: $special_grey;
  }

  &:invalid:focus {
    border-color: $basic_red;
  }

  &:invalid:focus + .form-selection__icon {
    fill: $basic_red;
  }

  &:focus {
    border-color: $special_dark-grey;
    outline: none;
  }

  &:active:invalid,
  &:active:valid {
    outline: 2px solid $special_dark-grey;
    border-color: $special_dark-grey;
  }

  &:active:focus + .form-selection__icon {
    fill: $basic_green;
  }

  @media screen and (min-width: $tablet-width) {
    padding: 14px 18px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }

    &--name {
      width: 565px;
      margin-left: 13px;
    }

    &--weight {
      width: 534px;
      margin-left: 16px;
    }

    &--age {
      width: 495px;
      margin-left: 14px;
    }

    &--email {
      width: 548px;
      margin-left: 15px;
    }

    &--phone {
      width: 533px;
      margin-left: 9px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    &--name {
      width: 504px;
    }

    &--weight {
      width: 474px;
    }

    &--age {
      width: 435px;
      margin-left: 13px;
    }

    &--email {
      width: 487px;
      margin-left: 16px;
    }

    &--phone {
      width: 472px;
    }
  }
}

.form-selection__icon {
  fill: $text_dark-grey;

  &--mail {
    position: absolute;
    top: 16px;
    right: 15px;


    @media screen and (min-width: $tablet-width) {
      top: 19px;
      right: 20px;
    }
  }

  &--phone {
    position: absolute;
    top: 13px;
    right: 12px;

    @media screen and (min-width: $tablet-width) {
      top: 16px;
      right: 16px;
    }
  }
}

.form-selection__radio + .form-selection__label--radio {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 2px solid $special_grey;
    border-radius: 50%;
  }

  &:hover {
    &::before {
      border-color: $grey-hover;
    }
  }

  @media screen and (min-width: $tablet-width) {
    &::before {
      width: 40px;
      height: 40px;
      border-width: 1px;
    }
  }
}

.form-selection__radio {
  &:focus + .form-selection__label--radio {
    opacity: 0.3;
  }

  &:active + .form-selection__label--radio {
    opacity: 0.3;
  }
}

.form-selection__radio:checked + .form-selection__label--radio {
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 13px;
    height: 13px;
    background-color: $basic_green;
    border-radius: 50%;
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }

  @media screen and (min-width: $tablet-width) {
    &::after {
      top: 11px;
      left: 11px;
      width: 18px;
      height: 18px;
    }
  }
}

.form-selection__comment {
  width: 280px;
  border: 1px solid $grey_form;
  padding: 13px 8px 48px 15px;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;

  &::placeholder {
    text-transform: uppercase;
    color: $special_dark-grey;
    opacity: 1;
  }

  @media screen and (min-width: $tablet-width) {
    width: 631px;
    padding: 10px 19px 15px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 1220px;
    margin-left: 0;
  }
}

.form-selection__checkbox + .form-selection__label--checkbox {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $special_grey;
  }

  &:hover {
    &::before {
      border-color: $grey-hover;
    }
  }

  @media screen and (min-width: $tablet-width) {
    &::before {
      width: 40px;
      height: 40px;
    }
  }
}

.form-selection__checkbox {
  &:focus + .form-selection__label--checkbox {
    color: transparentize($special_dark-grey, 0.3);

    &::before {
      border-color: transparentize($special_grey, 0.3);
    }
  }
}

.form-selection__checkbox:checked + .form-selection__label--checkbox {
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 20px;
    height: 12px;
    border-bottom: 2px solid $basic_green;
    border-left: 2px solid $basic_green;
    transform: rotate(-50deg);
  }

  @media screen and (min-width: $tablet-width) {
    &::after {
      top: 10px;
      left: 9px;
    }
  }
}

.form-selection__block {
  margin-top: 39px;
  margin-bottom: 32px;

  @media screen and (min-width: $tablet-width) {
    margin-left: 42px;
    margin-top: 22px;
    margin-bottom: 72px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: 0;
    margin-top: 45px;
    margin-bottom: 82px;
  }
}

.form-selection__btn {
  border: none;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;

  @media screen and (min-width: $tablet-width) {
    width: 282px;
    margin-right: 61px;
    padding: 13px;
    font-size: 20px;
    line-height: 26px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 568px;
    margin-right: 81px;
  }
}

.form-selection__required {
  display: block;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 20px;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    margin: 0;
  }
}
