.form-selection {
  border-top: 1px solid $border_color;
  padding-top: 27px;

  @media screen and (min-width: $tablet-width) {
    border-top: none;
    padding-top: 64px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 77px;
  }
}

.form-selection__title {
  line-height: 36px;
  margin-bottom: 37px;

  @media screen and (min-width: $tablet-width) {
    line-height: 60px;
    margin-bottom: 55px;
  }
}

.form-selection__descr {
  width: 226px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;

  @media screen and (min-width: $tablet-width) {
    width: 390px;
    font-size: 20px;
    line-height: 30px;
    margin-left: 40px;
    margin-bottom: 66px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.form-selection__wrapper {
  margin-bottom: 28px;

  @media screen and (min-width: $tablet-width) {
    margin: 0;
    margin-left: 40px;
    margin-bottom: 74px;
    width: 630px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 69px;
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form-selection__group {
  border: none;
  padding: 0;
  margin: 0;

  &--info {
    margin-bottom: 21px;
  }

  &--program {
    width: 320px;
    margin-left: -20px;
    padding: 20px 20px 25px;
    border: 1px solid $grey_form;
  }

  &--contact {
    margin-bottom: 27px;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 15px;
      width: 100vw;
      height: 2px;
      background-color: $basic_green;
    }
  }

  &--comment {
    margin-bottom: 27px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 15px;
      width: 100vw;
      height: 2px;
      background-color: $basic_green;
    }
  }

  &--option {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 15px;
      width: 100vw;
      height: 2px;
      background-color: $basic_green;
    }
  }

  @media screen and (min-width: $tablet-width) {
    &--info {
      margin-bottom: 72px;
    }

    &--program {
      width: 628px;
      margin-left: 0;
      padding: 25px 28px 29px;
    }

    &--contact {
      margin-bottom: 65px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 15px;
        right: 100%;
        width: 100vw;
        height: 2px;
        background-color: $basic_green;
      }

      &::after {
        top: 22px;
      }
    }

    &--comment {
      margin-bottom: 63px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 15px;
        right: 100%;
        width: 100vw;
        height: 2px;
        background-color: $basic_green;
      }

      &::after {
        top: 22px;
      }
    }

    &--option {
      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 15px;
        right: 100%;
        width: 100vw;
        height: 2px;
        background-color: $basic_green;
      }

      &::after {
        top: 22px;
      }
    }
  }

  @media screen and (min-width: $desktop-width) {
    &--info {
      margin-bottom: 0;
    }

    &--program {
      width: 568px;
    }

    &--contact {
      margin-left: 0;
      margin-bottom: 46px;

      &::before {
        right: 103%;
      }
    }

    &--comment {
      margin-left: 0;

      &::before {
        right: 103%;
      }
    }

    &--option {
      margin-left: 0;

      &::before {
        right: 103%;
      }
    }
  }
}

.form-selection__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media screen and (min-width: $tablet-width) {
    &--location {
      width: 565px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      margin-left: 39px;
    }

    &--layout {
      padding-left: 41px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    &--location {
      width: auto;
      margin-left: 0;
    }

    &--layout {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 0;
    }
  }
}

.form-selection__option {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  &--position {
    margin-bottom: 19px;
  }

  &--position-program {
    margin-bottom: 18px;
  }

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 19px;

    &--position {
      width: 221px;
      margin-right: 123px;
      margin-bottom: 36px;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 36px;
      }
    }
  }

  @media screen and (min-width: $desktop-width) {
    &--position {
      margin-right: 104px;

      &:nth-child(2n) {
        margin-right: 104px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.form-selection__label {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  cursor: pointer;

  &--radio {
    padding-left: 45px;
    padding-top: 7px;
  }

  &--checkbox {
    padding-left: 46px;
    padding-top: 6px;
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &--radio {
      padding-left: 60px;
      padding-top: 5px;
    }

    &--checkbox {
      padding-left: 60px;
      padding-top: 5;
    }
  }
}

.form-selection__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 32px;
  z-index: 2;
  position: relative;
  background-color: $white-color;

  &--location-contact {
    width: 200px;
    padding-right: 15px;
  }

  &--location-comment {
    padding-right: 22px;
  }

  &--location-option {
    padding-right: 24px;
  }

  @media screen and (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    padding-left: 39px;

    &--location-contact {
      width: auto;
      padding-right: 42px;
    }

    &--location-comment {
      padding-right: 38px;
    }

    &--location-option {
      padding-right: 41px;
    }
  }

  @media screen and (min-width: $tablet-width) {
    padding-left: 0;

    &--location-option {
      margin-bottom: 58px;
    }
  }
}

.form-selection__input {
  margin-left: 14px;
  padding: 13px 15px;
  border: 1px solid $grey_form;
  cursor: pointer;

  &--name {
    width: 224px;
  }

  &--weight {
    width: 202px;
  }

  &--age {
    width: 169px;
  }

  &--email {
    width: 212px;
    border-color: $special_grey;
  }

  &--phone {
    width: 195px;
    border-color: $special_grey;
  }

  &::placeholder {
    text-transform: uppercase;
    color: $special_dark-grey;
    font-size: 16px;
  }

  @media screen and (min-width: $tablet-width) {
    padding: 14px 18px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }

    &--name {
      width: 564px;
    }

    &--weight {
      width: 536px;
    }

    &--age {
      width: 495px;
    }

    &--email {
      width: 555px;
    }

    &--phone {
      width: 535px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    &--name {
      width: 506px;
    }

    &--weight {
      width: 478px;
    }

    &--age {
      width: 436px;
    }

    &--email {
      width: 486px;
    }

    &--phone {
      width: 472px;
    }
  }
}

.form-selection__radio + .form-selection__label--radio {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 2px solid $special_grey;
    border-radius: 50%;
  }

  @media screen and (min-width: $tablet-width) {
    &::before {
      width: 40px;
      height: 40px;
      border-width: 1px;
    }
  }
}

.form-selection__radio:checked + .form-selection__label--radio {
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 13px;
    height: 13px;
    background-color: $basic_green;
    border-radius: 50%;
  }

  @media screen and (min-width: $tablet-width) {
    &::after {
      top: 11px;
      left: 11px;
      width: 18px;
      height: 18px;
    }
  }
}

.form-selection__comment {
  width: 280px;
  border: 1px solid $grey_form;

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;
    padding: 13px 8px 13px 13px;
  }

  @media screen and (min-width: $tablet-width) {
    width: 631px;
    padding-bottom: 26px;
    margin-left: 40px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
      padding-top: 8px;
      padding-left: 17px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    width: 1220px;
    margin-left: 0;
  }
}

.form-selection__checkbox + .form-selection__label--checkbox {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $special_grey;
  }

  @media screen and (min-width: $tablet-width) {
    &::before {
      width: 40px;
      height: 40px;
    }
  }
}

.form-selection__checkbox:checked + .form-selection__label--checkbox {
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 20px;
    height: 12px;
    border-bottom: 2px solid $basic_green;
    border-left: 2px solid $basic_green;
    transform: rotate(-50deg);
  }

  @media screen and (min-width: $tablet-width) {
    &::after {
      top: 10px;
      left: 9px;
    }
  }
}

.form-selection__block {
  margin-top: 40px;
  margin-bottom: 32px;

  @media screen and (min-width: $tablet-width) {
    margin-left: 42px;
    margin-top: 22px;
    margin-bottom: 72px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: 0;
    margin-top: 29px;
    margin-bottom: 82px;
  }
}

.form-selection__btn {
  border: none;
  font-size: 16px;
  line-height: 20px;

  @media screen and (min-width: $tablet-width) {
    width: 282px;
    margin-right: 61px;
    padding: 13px;
    font-size: 20px;
    line-height: 26px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 568px;
    margin-right: 81px;
  }
}

.form-selection__required {
  display: block;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 21px;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    margin: 0;
  }
}
