.hamburger {
  position: absolute;
  display: block;
  right: 0;
  top: 10px;
  width: 24px;
  height: 37px;
  padding-top: 15px;
  cursor: pointer;

  &--active {
    top: 11px;
    right: 0;
  }

  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.hamburger__line {
  display: block;
  height: 1.5px;
  width: 100%;
  background-color: $black-color;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.hamburger--active .hamburger__line {
  margin-bottom: -2px;

  &:nth-child(2) {
    transform: translateY(2px) rotate(-45deg);
  }

  &:nth-child(3) {
    display: none;
  }

  &:nth-child(4) {
    transform: translateY(3px) rotate(45deg);
  }
}
