.hamburger {
  display: block;
  position: absolute;
  right: 23px;
  top: 25px;
  width: 24px;
  height: 16px;
  cursor: pointer;
  &--active {
    top: 29px;
    right: 20px;
    span {
      margin-bottom: -2px;
      &:nth-child(2) {
        transform: translateY(3px) rotate(-45deg);
      }
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(4) {
        transform: translateY(3px) rotate(45deg);
      }
    }
  }
}

.hamburger__line {
  display: block;
  height: 2px;
  width: 100%;
  background-color: $black-color;
  margin-bottom: 6px;
  &:last-child {
    margin-bottom: 0;
  }
}
