.header__main {
  position: relative;
  padding: 12px 0;

  @media screen and (min-width: $tablet-width) {
    padding: 0;
  }
}

.header__logo-icon {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__img-logo {
  width: 190px;
  height: 38px;

  @media screen and (min-width: $tablet-width) {
    width: 174px;
    height: auto;
    margin-top: 24px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
    margin-top: 53px;
  }

}


.header__wrapper {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
