.header {
  @media screen and (max-width: $mobile-width-only) {
    border-bottom: 1px solid $border_color;
  }
}

.header__main {
  position: relative;
  padding-top: 12px;

  @media screen and (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop-width) {
    position: absolute;
    width: inherit;
  }
}

.header__logo-icon {
  display: block;
  width: 190px;
  min-height: 38px;
  padding-bottom: 12px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }

  @media screen and (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
    padding-bottom: 0;
    margin-top: 24px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 202px;
    min-height: 59px;
    margin-top: 53px;
    margin-left: 0;
  }
}

.header__img-logo {
  width: 100%;
  height: 100%;
}
