.main-nav--active {
  @media screen and (max-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 440px;
    padding-top: 42px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 483px;
    padding-top: 69px;
  }
}
