.main-programs {
  margin-top: 22px;

  @media screen and (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.main-programs__block {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto;

  @media screen and (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
  }
}

.main-programs__wrapper {
  margin-bottom: 20px;

  @media screen and (max-width: $mobile-width-only) {
    padding-right: 10px;
  }

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}
