.main-nav {
  @media screen and (max-width: $mobile-width-only) {
    &--closed &__wrapper {
      display: none;
    }

    &--opened &__wrapper {
      display: block;
    }

    &--nojs .hamburger {
      display: none;
    }

    &--nojs &__wrapper {
      display: block;
    }
  }
}

.main-nav__list {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 440px;
    padding-top: 42px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 480px;
    padding-top: 69px;
  }
}
