.promo {
  min-height: 480px;
  background-image: linear-gradient($basic_green 63%, $white-color 63%);
  background: url("../img/index-can-mobile@1x.png") center top 167px  no-repeat, url("../img/index-background-mobile@1x.jpg") center top no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-can-mobile@2x.png"), url("../img/index-background-mobile@2x.jpg");
    background-size: 280px auto, 320px 305px;
  }

  @media screen and (min-width: $tablet-width) {
    min-height: 874px;
    background-image: linear-gradient($white-color 1%, $basic_green 5%, $white-color);
    background: url("../img/index-can-tablet@1x.jpg") center bottom no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
      background-size: 709px auto;
    }
  }

  @media screen and (min-width: $desktop-width) {
    width: inherit;
    min-height: 696px;
    background-image: linear-gradient(to left, $basic_green 50%, $white-color 50%);
    background: url("../img/index-can-desktop@1x.png") right 37% top 143px no-repeat, url("../img/index-background-desktop@1x.jpg") right top no-repeat;
    background-size: auto, 50% auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-desktop@2x.png"), url("../img/index-background-desktop@2x.jpg");
      background-size: 552px auto, 50% 696px;
    }
  }
}

.promo__wrapper {
  @media screen and (min-width: $tablet-width) {
    padding-left: 87px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.promo__title {
  width: 249px;
  color: $white-color;
  text-align: center;
  line-height: 36px;
  padding-top: 27px;
  margin: 0 auto;

  @media screen and (min-width: $tablet-width) {
    width: 414px;
    color: $black-color;
    text-align: left;
    line-height: 60px;
    padding-top: 62px;
    margin: 0;
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 223px;
  }
}

.promo__text {
  line-height: 14px;
  text-transform: uppercase;
  color: $white-color;
  text-align: center;
  margin: 0;
  margin-top: 26px;
  padding: 0 20px;

  @media screen and (min-width: $tablet-width) {
    width: 450px;
    font-size: 20px;
    line-height: 20px;
    color: $black-color;
    margin-top: 43px;
    padding: 0;
    text-align: left;
  }

  @media screen and (min-width: $desktop-width) {
    margin-top: 39px;
  }
}

.promo__btn {
  margin: 0 auto;
  margin-top: 302px;

  @media screen and (min-width: $tablet-width) {
    width: 244px;
    margin: 0;
    margin-top: 49px;
    padding: 14px;
    font-size: 20px;
    line-height: 26px;
    margin-left: -5px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: 0;
    margin-top: 53px;
  }
}
