.promo {
  min-height: 480px;
  background-image: url("../img/index-can-mobile@1x.png"),
  url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top 167px, center top;

  @media (min-resolution: 2dppx) {
    background-image: url(../img/index-can-mobile@2x.png),
    url(../img/index-background-mobile@2x.jpg);
    background-size: 280px auto, 320px 305px;
  }

  @media screen and (min-width: $tablet-width) {
    min-height: 874px;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: center bottom;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
      background-size: 709px auto;
    }
  }

  @media screen and (min-width: $desktop-width) {
    width: inherit;
    min-height: 696px;
    background-image: url("../img/index-can-desktop@1x.png"),
    url("../img/index-background-desktop@1x.jpg");
    background-position: right 23vw top 143px, right top;
    background-size: auto, 50vw auto;
    margin-top: -115px;
    padding-top: 115px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-desktop@2x.png"),
      url("../img/index-background-desktop@2x.jpg");
      background-size: 552px auto, 50vw auto;
    }
  }
}

.promo__wrapper {
  @media screen and (min-width: $tablet-width) {
    padding-left: 80px;
  }
}

.promo__title {
  width: 249px;
  color: $white-color;
  text-align: center;
  line-height: 36px;
  padding-top: 27px;
  margin: 0 auto;

  @media screen and (min-width: $tablet-width) {
    width: 414px;
    color: $black-color;
    text-align: left;
    line-height: 60px;
    padding-top: 62px;
    margin: 0;
  }
}

.promo__text {
  line-height: 14px;
  text-transform: uppercase;
  color: $white-color;
  text-align: center;
  margin: 0;
  margin-top: 25px;
  padding: 0 20px;

  @media screen and (min-width: $tablet-width) {
    width: 450px;
    font-size: 20px;
    line-height: 20px;
    color: $black-color;
    margin-top: 40px;
    padding: 0;
    text-align: left;
  }
}

.promo__btn {
  margin: 0 auto;
  margin-top: 301px;

  @media screen and (min-width: $tablet-width) {
    width: 244px;
    margin: 0;
    margin-top: 50px;
    padding: 14px;
    font-size: 20px;
    line-height: 26px;
  }
}
