.result {
  padding-bottom: 25px;
  background-color: $background-color;
}

.result__title {
  padding-top: 27px;
  padding-left: 20px;
}
.result__descr {
  width: 278px;
  margin-top: 35px;
  margin-left: 21px;
}

.result__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
  padding: 0 21px;
}

.result__example {
  display: inline-block;
  position: relative;
  width: 124px;
  border: 1px solid $special_grey;
  border-radius: 3px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 17px;
}

.result__data {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
}

.result__border {
  position: absolute;
  top: 47px;
  left: 22px;
  width: 77px;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
  background-color: $background-color;
}

.result__expenses {
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 33px;
}

.result__slider {
  margin-top: 33px;
}
