.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.site-list__item {
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
  border-top: 1px solid $grey-border;

  @media screen and (min-width: $tablet-width) {
    border-top: none;
    margin: 0;
    margin-right: 33px;

    &:nth-child(3) {
      margin-right: 0;
    }


    &--active {
      border-bottom: 2px solid $basic_green;
      padding-bottom: 8px;
    }

    &:hover:not(.site-list__item--active) {
      opacity: 0.6;
      border-bottom: 2px solid $black-color;
    }

    &:active:not(.site-list__item--active) {
      opacity: 0.3;
      border-bottom: 2px solid $black-color;
    }
  }

  @media screen and (min-width: $desktop-width) {
    &--active {
      padding-bottom: 6px;
    }

    &--active-color {
      border-bottom-color: $white-color;
    }

    &--desctope {
      &:hover:not(.site-list__item--active) {
        border-bottom-color: $white-color;
      }
    }
  }
}

.site-list__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 23px;
  color: $black-color;

  @media screen and (min-width: $tablet-width) {
    padding: 0;
  }

  @media screen and (min-width: $desktop-width) {
    &--color {
      color: $white-color;
    }
  }
}
