.slider__img-after {
  display: none;
}

.slider__img {
  width: 100%;
}

.slider__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 21px;

  @media screen and (min-width: $tablet-width) {
    margin-top: 4px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-top: 19px;
  }
}

.slider__btn {
  padding: 0;
  margin: 5px 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: $background-color;
  border: none;
  cursor: pointer;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $special_grey;

    &:hover {
      border-bottom-style: solid;
      border-bottom-color: rgba($black-color, 0.3);
    }

    &:active {
      border-bottom: none;
      outline: none;
    }
  }

  @media screen and (min-width: $desktop-width) {
    background-color: $basic_grey;
  }
}

.slider__range-controls {
  position: relative;
  margin-left: 2px;
  margin-right: 2px;

  @media screen and (min-width: $tablet-width) {
    min-height: 34px;
    padding-top: 14px;
    margin: 0 11px 0 14px;
  }
}

.slider__range-scale {
  width: 84px;
  height: 14px;
  background-color: $white-color;
  border: 1px solid $special_grey;
  border-radius: 6px;

  @media screen and (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    background-color: $grey-scale;
    border: none;
  }
}

.slider__range-toggle {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 35px;
  height: 6px;
  background-color: $basic_green;
  border-radius: 6px;
  cursor: pointer;

  @media screen and (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    top: 0;
    left: 197px;
    background-color: $white-color;
    border: 1px solid $special_grey;
    border-radius: 50%;
    filter: drop-shadow(0 1px 3px rgba($black-color, 0.16));

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      width: 8px;
      height: 8px;
      background-color: $basic_green;
      border-radius: 50%;
    }

    &:hover {
      filter: drop-shadow(0 2px 4px rgba($black-color, 0.19));
    }

    &:active {
      filter: drop-shadow(0 3px 5px rgba($black-color, 0.2));
      border-color: $basic_green;

      &::before {
        border: 1px solid $basic_green;
      }
    }
  }
}
