.social__list {
  width: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.social__item {
  margin-right: 34px;

  &:nth-child(3) {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  &--vkontakte {
    width: 23px;
    height: 16px;
    background-image: url("../img/icon-vk.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--instagram {
    width: 16px;
    height: 16px;
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--facebook {
    width: 22px;
    height: 22px;
    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}
