.social__list {
  width: 130px;
  min-height: 33px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;

  @media screen and (min-width: $tablet-width) {
    margin-left: 25px;
  }
}

.social__item {
  margin-right: 34px;

  @media screen and (min-width: $tablet-width) {
    margin-right: 26px;
  }

  &:nth-child(3) {
    margin-right: 0;
  }
}

.social__link {
  display: block;
}

.social__icon {
  fill: $logo__color;

  &:hover {
    fill: $basic_green;
  }

  &:active {
    fill: $basic_green;
    opacity: 0.3;
  }

  &--vkontakte {
    @media screen and (min-width: $tablet-width) {
      width: 29px;
      height: 17px;
    }
  }

  &--instagram {
    @media screen and (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook {
    margin-left: 5px;

    @media screen and (min-width: $tablet-width) {
      width: 13px;
      height: 27px;
    }
  }
}
