/* oswald-regular - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  src: local(''),
      url('../fonts/oswaldregular.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/oswaldregular.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  src: local(''),
      url('../fonts/oswaldmedium.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/oswaldmedium.woff') format('woff'); /* Modern Browsers */
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
