@import "normalize.scss";
@import "variables.scss";
@import "fonts.scss";
@import "blocks/main.scss";
@import "blocks/page.scss";
@import "blocks/container.scss";
@import "blocks/header.scss";
@import "blocks/hamburger.scss";
@import "blocks/site-list.scss";
@import "blocks/title.scss";
@import "blocks/promo.scss";
@import "blocks/button.scss";
@import "blocks/text-descr.scss";
@import "blocks/program.scss";
@import "blocks/main-programs.scss";
@import "blocks/description.scss";
@import "blocks/result.scss";
@import "blocks/slider.scss";
@import "blocks/contact.scss";
@import "blocks/footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/catalog.scss";
@import "blocks/card-product.scss";
@import "blocks/addition.scss";
@import "blocks/form-selection.scss";
