$black-color: #000000;
$grey-border: #e6e6e6;
$white-color: #ffffff;
$basic_green: #68b738;
$basic_grey: #f2f2f2;
$special_dark-grey: #444444;
$background-color: #eaeaea;
$special_grey:#cdcdcd;
$text_black:#111111;
$border_color: #d9d9d9;
$logo__color: #666666;
$special_grey-border: #ebebeb;
$text_dark-grey:#222222;
$grey_color-line: #d3d3d3;
$grey_form: #e7e7e7;
$grey-scale: #dcdcdc;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$desktop-width-only: 1439px;
$green_btn-hover:  #5eaa2f;
$grey-hover: #bababa;
