$black-color: #000000;
$grey-border: #E6E6E6;
$white-color: #ffffff;
$basic_green: #68B738;
$basic_grey: #F2F2F2;
$special_dark-grey: #444444;
$background-color: #EAEAEA;
$special_grey:#CDCDCD;
$text_black:#111111;
$border_color: #D9D9D9;
$logo__color: #666666;
$special_grey-border: #EBEBEB;
$text_dark-grey:#222222;
$grey_color-line: #D3D3D3;
